body {
  margin: 0;
  text-align: center;
  font-family: verdana, sans-serif;
}

h1 {
  font-size: 500%;
  margin-top: 0;
  color: #66BFBF;
}

h2 {
  font-size: 2.3rem;
  font-weight: normal;
}

hr {
  color: #E4F9F5;
  border-style: dotted solid;
  border-width: 10px 0 0 0;
  width: 5%;
}

.subh {
  color: #66BFBF;
  font-weight: normal;
}

.top-container {
  background-color: #E4F9F5;
}

.middle-container {
  background-color: #30E3CA;
}

.bottom-container {
  background-color: #11999E;
  padding: 30px;
}

.cloud-top {
  width: 200px;
  position: relative;
  left: 300px;
}

.cloud-bottom {
  width: 200px;
  position: relative;
  right: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.profile_pic {
  padding-top: 30px;
}

.laptop_pic {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cogwheel_pic {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me {
  padding: 30px;
}

.BUTTON_OME {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #E4F9F5;
  font-family: Verdana;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
  background-color: #11999E;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_OME:hover {
  background: #000000;
  border: solid #000000 1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-decoration: none;
}

.perfil_p {
  padding-bottom: 30px;
}

.contact_p {
  padding-bottom: 30px;
  width: 50%;
  margin: auto;
}
